<section class="section-offset catalog">
    <div class="container catalog__container grid">
        <h2 class="section-title catalog__title">Каталог</h2>
        <aside class="catalog__parameters parameters-catalog">
            <h3 class="parameters-catalog__title">Подбор
                по параметрам</h3>
            <form action="#" class="parameters-catalog__form form">
                <div class="parameters-catalog__cost">
                    <h4 class="parameters-catalog__cost-title parameters-catalog-title">Цена, руб</h4>
                    <div class="parameters-catalog__cost-inputs">
                        <input type="number" id="slider-input-1" class="input-reset parameters-catalog__cost-input">
                        <input type="number" id="slider-input-2" class="input-reset parameters-catalog__cost-input">
                    </div>
                </div>
                <div class="parameters-catalog__slider" id="slider"></div>
                <div class="parameters-catalog__gender">
                    <h4 class="parameters-catalog-title parameters-catalog__gender-title">Пол</h4>
                    <div class="parameters-catalog__gender-wrapper">
                        <label class="parameters-catalog__gender-label">
                            <input type="checkbox" name="gender" class="parameters-catalog__gender-checkbox">
                            <svg class="parameters-catalog__gender-svg">
                              <use xlink:href="assets/svg/sprite.svg#ok"></use>
                            </svg>
                            мужской
                        </label>
                        <label class="parameters-catalog__gender-label">
                            <input type="checkbox" name="gender" class="parameters-catalog__gender-checkbox">
                            <svg class="parameters-catalog__gender-svg">
                              <use xlink:href="assets/svg/sprite.svg#ok"></use>
                            </svg>
                            женский
                        </label>
                    </div>
                    
                </div>
                <div class="parameters-catalog__size">
                    <h4 class="parameters-catalog-title parameters-catalog__size-title">Размер</h4>
                    <div class="parameters-catalog__size-grid">
                        <input type="number" value="35" readonly class="input-reset parameters-catalog__size-item">
                        <input type="number" value="36" readonly class="input-reset parameters-catalog__size-item">
                        <input type="number" value="37" readonly class="input-reset parameters-catalog__size-item">
                        <input type="number" value="38" readonly class="input-reset parameters-catalog__size-item">
                        <input type="number" value="39" readonly class="input-reset parameters-catalog__size-item">
                        <input type="number" value="40" readonly class="input-reset parameters-catalog__size-item">
                        <input type="number" value="41" readonly class="input-reset parameters-catalog__size-item">
                        <input type="number" value="42" readonly class="input-reset parameters-catalog__size-item">
                        <input type="number" value="43" readonly class="input-reset parameters-catalog__size-item">
                    </div>
                </div>
                <button class="btn-reset btn btn_gray parameters-catalog__apply">Применить</button>
                <button class="btn-reset btn btn_transparent parameters-catalog__reset">сбросить</button>
            </form>
        </aside>
        <div class="catalog__right">
            <div class="catalog__cards cards-catalog">
                <article class="good-card catalog__card catalog__card--1">
                    <img loading="lazy" src="./assets/img/webp/sneakers.webp" class="catalog__card-img" width="280" height="293" alt="Кроссовки Nike Air Force 1 '07 QS">
                    <h4 class="good-card__name catalog__card-name">Кроссовки Nike Air Force 1 '07 QS</h4>
                    <h5 class="good-card__cost catalog__card-cost"><span class="good-card__cost-value">11 000</span> p</h5>
                </article>
                <article class="good-card catalog__card catalog__card--2">
                    <img loading="lazy" src="./assets/img/webp/sneakers.webp" class="catalog__card-img" width="280" height="293" alt="Кроссовки Nike Air Force 1 '07 QS">
                    <h4 class="good-card__name catalog__card-name">Кроссовки Nike Air Force 1 '07 QS</h4>
                    <h5 class="good-card__cost catalog__card-cost"><span class="good-card__cost-value">11 000</span> p</h5>
                </article>
                <article class="good-card catalog__card catalog__card--3">
                    <img loading="lazy" src="./assets/img/webp/sneakers.webp" class="catalog__card-img" width="280" height="293" alt="Кроссовки Nike Air Force 1 '07 QS">
                    <h4 class="good-card__name catalog__card-name">Кроссовки Nike Air Force 1 '07 QS</h4>
                    <h5 class="good-card__cost catalog__card-cost"><span class="good-card__cost-value">11 000</span> p</h5>
                </article>
                <article class="good-card catalog__card catalog__card--4">
                    <img loading="lazy" src="./assets/img/webp/sneakers.webp" class="catalog__card-img" width="280" height="293" alt="Кроссовки Nike Air Force 1 '07 QS">
                    <h4 class="good-card__name catalog__card-name">Кроссовки Nike Air Force 1 '07 QS</h4>
                    <h5 class="good-card__cost catalog__card-cost"><span class="good-card__cost-value">11 000</span> p</h5>
                </article>
                <article class="good-card catalog__card catalog__card--5">
                    <img loading="lazy" src="./assets/img/webp/sneakers.webp" class="catalog__card-img" width="280" height="293" alt="Кроссовки Nike Air Force 1 '07 QS">
                    <h4 class="good-card__name catalog__card-name">Кроссовки Nike Air Force 1 '07 QS</h4>
                    <h5 class="good-card__cost catalog__card-cost"><span class="good-card__cost-value">11 000</span> p</h5>
                </article>
                <article class="good-card catalog__card catalog__card--6">
                    <img loading="lazy" src="./assets/img/webp/sneakers.webp" class="catalog__card-img" width="280" height="293" alt="Кроссовки Nike Air Force 1 '07 QS">
                    <h4 class="good-card__name catalog__card-name">Кроссовки Nike Air Force 1 '07 QS</h4>
                    <h5 class="good-card__cost catalog__card-cost"><span class="good-card__cost-value">11 000</span> p</h5>
                </article>
                <article class="good-card catalog__card catalog__card--7">
                    <img loading="lazy" src="./assets/img/webp/sneakers.webp" class="catalog__card-img" width="280" height="293" alt="Кроссовки Nike Air Force 1 '07 QS">
                    <h4 class="good-card__name catalog__card-name">Кроссовки Nike Air Force 1 '07 QS</h4>
                    <h5 class="good-card__cost catalog__card-cost"><span class="good-card__cost-value">11 000</span> p</h5>
                </article>
                <article class="good-card catalog__card catalog__card--8">
                    <img loading="lazy" src="./assets/img/webp/sneakers.webp" class="catalog__card-img" width="280" height="293" alt="Кроссовки Nike Air Force 1 '07 QS">
                    <h4 class="good-card__name catalog__card-name">Кроссовки Nike Air Force 1 '07 QS</h4>
                    <h5 class="good-card__cost catalog__card-cost"><span class="good-card__cost-value">11 000</span> p</h5>
                </article>
                <article class="good-card catalog__card catalog__card--9">
                    <img loading="lazy" src="./assets/img/webp/sneakers.webp" class="catalog__card-img" width="280" height="293" alt="Кроссовки Nike Air Force 1 '07 QS">
                    <h4 class="good-card__name catalog__card-name">Кроссовки Nike Air Force 1 '07 QS</h4>
                    <h5 class="good-card__cost catalog__card-cost"><span class="good-card__cost-value">11 000</span> p</h5>
                </article>
            </div>
            <button class="btn btn-reset btn_orange cards-catalog__btn">Показать еще</button>
        </div>
        
    </div>
</section>