<section class="section-offset choose">
    <div class="container choose__container grid">
        <div class="choose__body">
            
            <div class="quiz choose__quiz" id="quiz">
                <!-- <div class="quiz__question" id="quiz-question">
                    <h4 class="quiz__question-title">Какой тип кроссовок рассматриваете?</h4>
                    <div class="quiz__question-wrapper">
                        <div class="quiz__question-item">
                            <img loading="lazy" src="./assets/img/webp/sneakers-arm.webp" class="quiz__question-img" width="280" height="120" alt="12">
                            <label class="quiz__question-label">
                                <input type="checkbox" class="quiz__question-checkbox">
                                кеды
                                <svg class="quiz__question-svg">
                                    <use xlink:href="assets/svg/sprite.svg#ok"></use>
                                </svg>
                            </label>
                            
                        </div>
                        <div class="quiz__question-item">
                            <img loading="lazy" src="./assets/img/webp/sneakers-arm.webp" class="quiz__question-img" width="280" height="120" alt="12">
                            <label class="quiz__question-label">
                                <input type="checkbox" class="quiz__question-checkbox">
                                кеды
                                <svg class="quiz__question-svg">
                                    <use xlink:href="assets/svg/sprite.svg#ok"></use>
                                </svg>
                            </label>
                            
                        </div>
                        <div class="quiz__question-item">
                            <img loading="lazy" src="./assets/img/webp/sneakers-arm.webp" class="quiz__question-img" width="280" height="120" alt="12">
                            <label class="quiz__question-label">
                                <input type="checkbox" class="quiz__question-checkbox">
                                кеды
                                <svg class="quiz__question-svg">
                                    <use xlink:href="assets/svg/sprite.svg#ok"></use>
                                </svg>
                            </label>
                            
                        </div>
                        <div class="quiz__question-item">
                            <img loading="lazy" src="./assets/img/webp/sneakers-arm.webp" class="quiz__question-img" width="280" height="120" alt="12">
                            <label class="quiz__question-label">
                                <input type="checkbox" class="quiz__question-checkbox">
                                кеды
                                <svg class="quiz__question-svg">
                                    <use xlink:href="assets/svg/sprite.svg#ok"></use>
                                </svg>
                            </label>
                            
                        </div>
                        <div class="quiz__question-item">
                            <img loading="lazy" src="./assets/img/webp/sneakers-arm.webp" class="quiz__question-img" width="280" height="120" alt="12">
                            <label class="quiz__question-label">
                                <input type="checkbox" class="quiz__question-checkbox">
                                кеды
                                <svg class="quiz__question-svg">
                                    <use xlink:href="assets/svg/sprite.svg#ok"></use>
                                </svg>
                            </label>
                            
                        </div>
                        <div class="quiz__question-item">
                            <img loading="lazy" src="./assets/img/webp/sneakers-arm.webp" class="quiz__question-img" width="280" height="120" alt="12">
                            <label class="quiz__question-label">
                                <input type="checkbox" class="quiz__question-checkbox">
                                кеды
                                <svg class="quiz__question-svg">
                                    <use xlink:href="assets/svg/sprite.svg#ok"></use>
                                </svg>
                            </label>
                            
                        </div>
                    </div>
                </div>
                <div class="quiz__bottom">
                    <div class="quiz__indicator" id="quiz-indicator">1 из 3</div>
                    <button class="btn-reset btn quiz__next" id="quiz-btn-next">Следующий шаг</button>
                </div> -->
                
            </div>
            
        </div>
    </div>
</section>