<section class="section-offset contacts">
    <div class="container grid">
        <div class="contacts__left" animate animate-x animate-x-toright>
            <h2 class="section-title contacts__title"><span>Контакты</span></h2>
            <div class="contacts__item item-contacts">
                <div class="item-contacts__wrapper">
                    <h3 class="item-contacts__title">Главный офис</h3>
                    <div class="item-contacts__tooltip-control">
                        ?
                        <div class="item-contacts__tooltip-content">
                            Адрес и телефон для корреспонденции, инвесторов. Вопросы о доставке, качестве обслуживания и товара просьба задавать в отдел продаж
                        </div>
                    </div>
                    
                </div>
                <a href="tel:78007898989" target="_blank" class="item-contacts__phone">+7 800 789 89 89</a>
                <address class="item-contacts__address">г. Санкт-Петербург, Комсомольская, 43 к1</address>
            </div>
            <div class="contacts__item item-contacts">
                <div class="item-contacts__wrapper">
                    <h3 class="item-contacts__title">отдел продаж</h3>
                </div>
                <a href="tel:78007898989" target="_blank" class="item-contacts__phone">+7 800 789 89 89</a>
                <address class="item-contacts__address">г. Санкт-Петербург, Комсомольская, 43 к1</address>
            </div>

            <div class="contacts__socials socials">
                <a href="#" class="socials__link" aria-label="Вконтакте">
                    <svg class="socials__svg">
                        <use xlink:href="assets/svg/sprite.svg#vk"></use>
                      </svg>
                </a>
                <a href="#" class="socials__link" aria-label="Инстаграм">
                    <svg class="socials__svg">
                        <use xlink:href="assets/svg/sprite.svg#Instagram"></use>
                      </svg>
                </a>
            </div>
            
        </div>
        <div class="contacts__right" animate animate-x animate-x-toleft>
            <div class="contacts__map" data-modal="map">
                <img loading="lazy" src="./assets/img/webp/map.webp" class="contacts__img" width="680" height="498" alt="г. Санкт-Петербург, Комсомольская, 43 к1">
            </div>
        </div>
    </div>
</section>