<footer class="footer">
    <div class="container footer__container">
        <a href="#" class="footer__logo logo">
            <svg class="footer__logo-svg logo__svg">
              <use xlink:href="assets/svg/sprite.svg#logo"></use>
            </svg>
        </a>
        <nav class="nav footer__nav" title="Site Navigation">
            <ul class="list-reset nav__list footer__nav-list">
              <li class="nav__item footer__nav-item"><a href="#" class="footer__nav-link nav__link">Каталог</a></li>
              <li class="nav__item footer__nav-item"><a href="#" class="footer__nav-link nav__link">О нас</a></li>
              <li class="nav__item footer__nav-item"><a href="#" class="footer__nav-link nav__link">Подбор товара</a></li>
              <li class="nav__item footer__nav-item"><a href="#" class="footer__nav-link nav__link">Наша команда</a></li>
              <li class="nav__item footer__nav-item"><a href="#" class="footer__nav-link nav__link">Доставка и оплата</a></li>
              <li class="nav__item footer__nav-item"><a href="#" class="footer__nav-link nav__link">Контакты</a></li>
            </ul>
          </nav>
    </div>
</footer>