<header class="header">
    <div class="container header__container">
        <a href="#" class="header__logo logo">
            <svg class="header__logo-svg logo__svg">
              <use xlink:href="assets/svg/sprite.svg#logo"></use>
            </svg>
        </a>
        <nav class="nav header__nav" title="Site Navigation">
          <ul class="list-reset nav__list header__nav-list">
            <li class="nav__item header__nav-item"><a href="#" class="header__nav-link nav__link">Каталог</a></li>
            <li class="nav__item header__nav-item"><a href="#" class="header__nav-link nav__link">О нас</a></li>
            <li class="nav__item header__nav-item"><a href="#" class="header__nav-link nav__link">Подбор товара</a></li>
            <li class="nav__item header__nav-item"><a href="#" class="header__nav-link nav__link">Наша команда</a></li>
            <li class="nav__item header__nav-item"><a href="#" class="header__nav-link nav__link">Доставка и оплата</a></li>
            <li class="nav__item header__nav-item"><a href="#" class="header__nav-link nav__link">Контакты</a></li>
            <li class="nav__item header__nav-item header__nav-item_cart">
                <a href="#" class="header__nav-link header__nav-link_cart nav__link">
                    <span class="header__nav-name">Корзина</span>
                    <svg class="header__cart-svg">
                        <use xlink:href="assets/svg/sprite.svg#cart"></use>
                      </svg>
                      <span class="header__cart-amount">1</span>
                </a>
                
            </li>
          </ul>
        </nav>
        <div class="burger" title="Burger Menu">
           <button class="burger__btn" aria-label="Открыть меню" aria-expanded="false">
             <span class="burger__line"></span>
             <span class="burger__line"></span>
             <span class="burger__line"></span>
           </button>
           <div class="burger__menu" aria-hidden="true">
             <nav class="burger__nav" title="Burger Menu">
               <ul class="burger__list">
                 <li class="burger__item"><a href="#" class="burger__link">Каталог</a></li>
                 <li class="burger__item"><a href="#" class="burger__link">О нас</a></li>
                 <li class="burger__item"><a href="#" class="burger__link">Подбор товара</a></li>
                 <li class="burger__item"><a href="#" class="burger__link">Наша команда</a></li>
                 <li class="burger__item"><a href="#" class="burger__link">Доставка и оплата</a></li>
                 <li class="burger__item"><a href="#" class="burger__link">Контакты</a></li>
               </ul>
             </nav>
            </div>
         </div>
    </div>
</header>