<section class="hero">
    <div class="container hero__container">
        <div class="hero__body">
            <h1 class="hero__title">Кроссовки известных брендов 
                с доставкой по России и СНГ</h1>
            <h2 class="hero__subtitle">Мы продаем кроссовки брендов Nike, Adidas, Puma, Reebok, Converse и многие другие по низким ценам</h2>
            <button class="btn-reset btn btn_orange hero__btn" data-modal="order">Перейти к покупкам</button>
        </div>
    </div>
</section>