<section class="hero">
    <div class="container hero__container">
        <div class="hero__body">
            <h1 class="hero__title" animate animate-x animate-x-toright>Кроссовки известных брендов 
                с доставкой по России и СНГ</h1>
            <h2 class="hero__subtitle" animate animate-x animate-x-toleft>Мы продаем кроссовки брендов Nike, Adidas, Puma, Reebok, Converse и многие другие по низким ценам</h2>
            <button class="btn-reset btn btn_orange hero__btn" animate animate-y data-modal="order">Перейти к покупкам</button>
        </div>
    </div>
</section>