<section class="section-offset photos">
    <div class="container photos__container grid">
        <form action="#" class="photos__form" animate animate-x animate-x-toright>
            <h2 class="section-title photos__title">Есть вопросы?</h2>
            <h3 class="section-subtitle photos__subtitle">Заполните форму и наш менеджер свяжется с вами</h3>

            <input type="text" name="name" required placeholder="Ваше имя" class="input-reset photos__input">
            <input type="tel" name="phone" required placeholder="Номер телефона" class="input-reset photos__input">
            <button type="submit" class="btn-reset btn btn_orange photos__submit">Отправить</button>
        </form>
        <div class="photos__instagram" animate animate-x animate-x-toleft>
            <img loading="lazy" src="./assets/img/webp/instagram.webp" class="photos__instagram-title" width="157" height="56" alt="Надпись инстаграм">
            <div class="photos__instagram-wrapper">
                <a href="#" class="photos__instagram-link">
                    <img loading="lazy" src="./assets/img/webp/questions-1.webp" class="photos__item" width="157" height="161" alt="Ваза с цветами">
                </a>
                <a href="#" class="photos__instagram-link photos__instagram-link_dog">

                    <img loading="lazy" src="./assets/img/webp/questions-3.webp" class="photos__item" width="157" height="161" alt="Собака породы хаски">
                </a>
                <a href="#" class="photos__instagram-link">

                    <img loading="lazy" src="./assets/img/webp/questions-4.webp" class="photos__item" width="157" height="161" alt="Человек моет посуду">
                </a>
                <a href="#" class="photos__instagram-link">

                    <img loading="lazy" src="./assets/img/webp/questions-2.webp" class="photos__item" width="157" height="161" alt="Феерверки">
                </a>
                <a href="#" class="photos__instagram-link photos__instagram-link_bus">

                    <img loading="lazy" src="./assets/img/webp/questions-5.webp" class="photos__item" width="157" height="161" alt="Автобусная остановка">
                </a>
            </div>
            
        </div>
    </div>
</section>