<section class="section-offset questions">
    <div class="container">
        <h2 class="section-title questions__title">Часто задаваемые вопросы</h2>
        <div class="accordion questions-accordion">
            <div class="accordion__item accordion__item_active questions-accordion__item">
                <button class="btn-reset accordion__control questions-accordion__control" aria-expanded="false">
                    Вопрос 1
                    <span class="arrow"></span>
                </button>
                <div class="accordion__content questions-accordion__content" aria-hidden="true">
                    А это ответ 1: в комплексе функционируют 6 детских садов с площадками, воспитателями и всякими другими людьми
                </div>
            </div>
            <div class="accordion__item questions-accordion__item">
                <button class="btn-reset accordion__control questions-accordion__control" aria-expanded="false">
                    Вопрос 2
                    <span class="arrow"></span>
                </button>
                <div class="accordion__content questions-accordion__content" aria-hidden="true">
                    А это ответ 2: в комплексе функционируют 6 детских садов с площадками, воспитателями и всякими другими людьми
                </div>
            </div>
        </div>
    </div>
</section>