<section class="section-offset team">
    <div class="container">
        <h2 class="section-title team__title" animate animate-x animate-x-toleft>Наша команда</h2>
        <div class="team__cards grid" animate animate-x animate-x-toright>
            <article class="member team__card card-team">
                <img loading="lazy" src="./assets/img/webp/team-1.webp" class="card-team__img" width="380" height="400" alt="">
                <h3 class="card-team__name">Максим Золотарев</h3>
                <h4 class="card-team__prof">Администратор</h4>
            </article>
            <article class="member team__card card-team">
                <img loading="lazy" src="./assets/img/webp/team-2.webp" class="card-team__img" width="380" height="400" alt="">
                <h3 class="card-team__name">Максим Золотарев</h3>
                <h4 class="card-team__prof">Администратор</h4>
            </article>
            <article class="member team__card card-team">
                <img loading="lazy" src="./assets/img/webp/team-3.webp" class="card-team__img" width="380" height="400" alt="">
                <h3 class="card-team__name">Максим Золотарев</h3>
                <h4 class="card-team__prof">Администратор</h4>
            </article>
            <article class="member team__card card-team">
                <img loading="lazy" src="./assets/img/webp/team-4.webp" class="card-team__img" width="380" height="400" alt="">
                <h3 class="card-team__name">Максим Золотарев</h3>
                <h4 class="card-team__prof">Администратор</h4>
            </article>
            <article class="member team__card card-team">
                <img loading="lazy" src="./assets/img/webp/team-5.webp" class="card-team__img" width="380" height="400" alt="">
                <h3 class="card-team__name">Максим Золотарев</h3>
                <h4 class="card-team__prof">Администратор</h4>
            </article>
            <article class="member team__card card-team">
                <img loading="lazy" src="./assets/img/webp/team-6.webp" class="card-team__img" width="380" height="400" alt="">
                <h3 class="card-team__name">Максим Золотарев</h3>
                <h4 class="card-team__prof">Администратор</h4>
            </article>
        </div>
    </div>
</section>