.choose {
    padding-bottom: 60px;
    &__container {
        background: $sec-bg;
        padding: 40px 100px;
        @include tablet {
            padding: 40px 20px;
        }
    }
    &__body {
        grid-column: 1 / span 12;
        @include tablet-sm {
            grid-column: 1 / span 4;
        }
    }

    &__title {
        color: $text;
        padding-bottom: 20px;
        @include tablet-sm {
            text-align: center;
        }
    }

    &__subtitle {
        color: $text-light;
        padding-bottom: 10px;
        border-bottom: 1px solid $text-light;
        margin-bottom: 20px;
        @include tablet-sm {
            text-align: center;
        }
    }

 
}
.quiz {

    &__question-title {
        font-size: clamp(14px, 3vw, 24px);
        color: $text;
        margin-bottom: 20px;
        @include tablet-sm {
            text-align: center;
        }
    }
    &__question-wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: clamp(20px, 3vw, 70px);
        margin-bottom: 40px;
        @include tablet-sm {
            justify-content: center;
        }
    }
    &__question-img {
        margin-bottom: 10px;
    }

    &__question-label {
        position: relative;
        display: flex;
        align-items: center;
        gap: 5px;
        color: $black;
        user-select: none;
        cursor: pointer;
        &::before {
            content: '';
            width: 24px;
            height: 24px;
            border: 1px solid $text-sm;
            border-radius: 4px;
        }
    }
    &__question-input {
        appearance: none;
        &:checked {
            & + .quiz__question-svg {
                display: block;
            }
        }
    }
    &__question-textarea {
        width: calc(min(465px, 80vw));
        height: 246px;
        resize: none;
        padding: 20px;
        &::placeholder {
            color: $text-sm;
        }
    }

    &__question-svg {
        display: none;
        position: absolute;
        left: 5px;
        width: 15px;
        height: 15px;
        use {
            fill: $text-sm
        }
    }
    &__question-bg {
        margin-bottom: 20px;
        width: 100%;
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid $text-light;
        padding-top: 20px;
    }


    &__next {
        width: 211px;
        height: 50px;
        border: 1px solid $text;
        background: none;
        transition: .3s border ease;
        &:not(:disabled) {

            &:hover {
                background: $main-color;
                color: $white
            }
        }
        &:disabled {
            border: 1px solid lighten($text, 50%);
        }
        
    }
}

.final-quiz {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    background: $text-sm;
    min-height: 399px;
    width: clamp(300px, 60vw, 655px);
    padding: 40px;
    @include tablet-sm {
        padding: 25px;
    }
    @include mobile {
        width: 100%;
        gap: 20px;
    }
    &__images {
        position: absolute;
        left: calc(100% - 25px);
        top: -5px;
        height: 411px;
        width: 205px;
        @include mobile {
            top: 86%;
            left:75%;
            width: unset;
            height: unset;
        }
    }
    &__img {
        width: 100%;
        height: 100%;
        @include mobile {
            display: none;
        }
    }
    &__title, &__subtitle {
        color: $white;
    }
    &__title {
        @include bold;
        font-weight: 700;
        font-size: clamp(20px, 4vw, 36px);
        line-height: 140%;
    }
    &__input {
        width: 87%;
        height: 60px;
        padding: 20px;
        line-height: 140%;
        font-size: clamp(12px, 2vw, 16px);
        &::placeholder {
            color: $gray;
        }
    }
    &__subtitle {
        font-size: clamp(14px, 2vw, 18px);
        line-height: 140%;
    }
    &__btn {
        width: clamp(140px, 40vw, 220px);
        height: 60px;
    }

    &__success{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        width: 100%;
        height: 100%;
        &_visible {
            display: flex;
        }
        @include mobile {
            height: unset;
            gap: 10px;
        }
    }

    &__svg {
        position: relative;
        width: clamp(22px, 5vw, 32px);
        height: 25px;
        use {
            fill: $green;
        }
    }

    &__sent {
        @include regular;
        position: relative;
        font-size: clamp(16px, 3vw, 24px);
        line-height: 140%;
        color: $green;
        
    }

    &__screen {
        position: absolute;
        top: -18px;
        left: 0;
        transform: scale(.9);
        @include mobile {
            display: none;
        }
    }
    

    &__spinner {
        position: absolute;
        display: none;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 50px;
        min-height: 50px;
        &_visible {
            display: block;
        }
    }
}