
.modal {
    display: none;
    &_visible {
        display: block;
    }
    &_map {
        width: clamp(300px, 40vw, 800px);
        height: clamp(300px, 20vw, 600px);
    }
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(24, 24, 27, .7);
    z-index: 100;
    overflow-y: scroll;
    opacity: 0;
    visibility: hidden;
    transition: .3s opacity ease-in-out, .3s visibility ease-in-out;
    &_visible {
        opacity: 1;
        visibility: visible;
    }
}
