html {
    box-sizing: border-box;
    
}

*, 
*::before,
*::after {
    box-sizing: inherit;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
}

.page__body {
    @include book;
    margin: 0;
    min-width: $minWidth + px;
    min-height: 100%;
    font-size: 16px; 
    line-height: 1.4;
    background: $white;
    color: $text;
    font-weight: 400;
}

.site-container {
    position: relative;
    background: $white;
    max-width: $site-container-width;
    margin: 0 auto;
    overflow: hidden;
}

.btn-reset {
    border: none;
    padding: 0;
    cursor: pointer;
}

.btn {
    @include regular;
    transition: .3s background ease-in-out, .3s color ease-in-out;
    border-radius: 4px;
    &_orange {
        background: $orange;
        color: $white;
        &:hover {
            background: darken($orange, 20%);
        }
    }
    &_gray {
        background: $gray;
        color: $white;
        &:hover {
            background: darken($gray, 20%);
        }
    }
    &_transparent {
        background: transparent;
        color: $text;
        &:hover {
            background: $text;
            color: $white;
        }
    }
}

.list-reset {
    list-style: none;
    margin: 0;
    padding: 0;
}

.input-reset {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    border-radius: 0;
    background-color: #fff;

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
        display: none;
    }
}

.container {
    margin: 0 auto;
    padding: 0 $container-offset;
    max-width: $container-width;
}

.section-offset {
    padding-top: $section-offset;
}

.section-title {
    @include bold;
    font-size: clamp(1.5rem, 5vw, 1.875rem);
    font-weight: 700;
    
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: $grid-gap;
    @include tablet-sm {
        grid-template-columns: repeat(4, 1fr);
    }
}

.accordion {
    &__item {
        user-select: none;
        &_active {
            .accordion__content {
                visibility: visible;
                padding-top: 25px;
            }

        }
    }
    &__content {
        visibility: hidden;
        max-height: 0;
        overflow: hidden;
        transition: .2s max-height ease-in-out, .2s visibility ease-in-out, .2s padding-top ease-in-out;
        padding-top: 0;
    }

    &__control {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        
        
    }
    .arrow {
        position: relative;
        width: 25px;
        height: 25px;
        transition: .3s transform ease-in-out;
        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: block;
            width: 100%;
            height: 1px;
            background: $text-dark;
        }
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: block;
            height: 100%;
            width: 1px;
            background: $text-dark;
        }
        &_active {
            transform: rotate(45deg);
        }
    }
}

.icon-marker {
    min-width: 25px;
    min-height: 35px;
}