$container-offset: 15px;
$site-container-width: 1920px;
$container-width: 1210px;
$section-offset: 60px;

$grid-gap: 20px;

$maxWidth: 1920;
$minWidth: 370;

$header-height: 64px;

// COLORS

$main-color: #484283;
$orange: #f14f4f;
$text: #404b58;
$text-sm: #dbbba9;
$sec-bg: #fff4ee;
$gray: #b2b5bb;
$white: #ffffff;
